:root {
  --textColor: rgb(185, 185, 185);
  --bgdiv1: #190b28;
  --gradient1: rgb(17, 16, 42);
  --gradient2: rgb(60 37 103);
  --gradient3: rgb(44, 2, 38);
  --btnbg: #3a0ca5;
  --btnborder: #221b2d;
  --btnActive: rgb(168, 2, 173);
  --btnGreen: rgb(205, 31, 211);
  --brightBox: rgb(149 133 243);
  --minusActive: #3a0ca5;
  --sliderColorBorder: rgb(66 45 116);
  --sliderBg: rgb(246, 48, 130);
  --sliderBg2: #9120f4;
  --sliderBg3: rgb(246, 48, 130);
  --dropdownBg: rgba(0, 0, 0, 0.5);
  --dropdownBg2: #340088;
  --tableheadbg: #251549;
  --tableSpace: #251549;
  --activeStep: #aa01f8;
  --flash: #aa01f8;
  --forth: #2b153e;
  --activeCell: #5d75e3;
  --invertStep: #59a7e3;
  --lightGray: #3f2151;
  --darkGray: rgb(4, 4, 4);
  --buttonBackground: #45288b;
  --buttonTextDecoration: #462e6d;
  --buttonHover: #3a0ca5;
  --buttonHoverBorder: #462e6d;
  --filter: invert(10%) sepia(20%) saturate(100%) hue-rotate(93deg) brightness(80%) contrast(150%);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(231, 231, 231);
  background: linear-gradient(0deg, var(--gradient1) 0%, var(--gradient2) 26%, var(--gradient3) 91%, rgba(161, 161, 161, 1) 100%);
  color: white;
  font-size: 1.5rem;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 0px;
  margin: 0px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.about a {
  color: rgb(156, 70, 0);
}

/* --------------------------------------- */
/* Navigation ---------------------------- */
/* --------------------------------------- */

.nav {
  background-color: #fc4520;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(252, 69, 32, 1) 0%, rgba(255, 136, 0, 1) 100%);
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.navitem {
  padding: 0;
  margin: 0;
  color: white;
  min-height: 50px;
}

.navitemSpace {
  background-color: #87000d;
  float: left;
  padding: 0;
  min-height: 50px;
  min-width: 50px;
  transition: 500ms ease;
  border-right: 3px solid #700606;
}

.navitemSpace:hover {
  border-right: 50px solid #fc4520;
}

.navitem a {
  display: flex;
  color: white;
  margin: 0px;
  text-decoration: none;
  float: left;
  min-height: 50px;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
  align-items: center;
}

.nav a:hover {
  background-color: #20d7fc;
  color: black;
}

/* --------------------------------------- */
/* content ------------------------------- */
/* --------------------------------------- */

@media (max-width: 850px) {
  .mydiv {
    background-color: var(--bgdiv1);
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: var(--textColor);
    border-radius: 2%;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contentBox {
    padding: 0.2em !important;
    position: relative;
  }
}

.mydiv {
  background-color: var(--bgdiv1);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--textColor);
  border-radius: 0%;
  box-shadow: 200px 20px 180px 200px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mydivheader {
  position: flex;
  font-size: 1.2em;
  padding: 0.4em;
  padding-left: 0.7em;
  width: 100%;
  z-index: 10;
  background-color: var(--btnbg);
  color: black;
  border-top: 1px solid var(--btnborder);
  border-radius: 2%;
}

.contentBox {
  padding: 1.5em;
  position: relative;
}

.controls {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0px solid black;
}

.btn {
  padding: 5px;
  background-color: var(--btnbg);
  border: 1px solid var(--btnborder);
  margin: 0px;
  width: 70px;
  height: 35px;
  margin-bottom: 10px;
  font-size: 0.7em;
}

.btn:active {
  background-color: var(--btnActive);
}

.green {
  background-color: var(--btnGreen) !important;
}

.presetBox {
  position: relative;
  background-color: var(--btnbg);
  margin: 0px;
  padding-left: 8px;
  width: 100%;
  text-align: left;
  top: 2px;
  margin-bottom: 10px;
  font-size: 0.7em;
  height: 0;
  height: 100%;
  display: none;
}

#pAuthor {
  font-size: 0.9em;
  font-weight: bold;
}

#pDescription {
  font-size: 0.9em;
  overflow: hidden;
}

.presetBox-active {
  display: inline-block;
}

#description {
  height: 200px;
  width: 100%;
  overflow: scroll;
}

.bright {
  color: var(--brightBox);
}

#thumb-up {
  transform: rotate(180deg);
  filter: invert(40%) sepia(80%) saturate(247%) hue-rotate(86deg) brightness(118%) contrast(119%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#thumb-up:hover {
  transition: 50ms ease-in;
  filter: invert(40%) sepia(80%) saturate(547%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

#thumb-down {
  filter: invert(7%) sepia(81%) saturate(4349%) hue-rotate(349deg) brightness(141%) contrast(94%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#thumb-down:hover {
  transition: 50ms ease-in;
  filter: invert(20%) sepia(51%) saturate(2349%) hue-rotate(349deg) brightness(141%) contrast(94%);
}

/* --------------------------------------- */
/* Sequencer Navigation ------------------ */
/* --------------------------------------- */


input[type="number"] {
  position: absolute;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  left: 48px;
  top: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* --------------------------------------- */
/* Controls bottom------------------------ */
/* --------------------------------------- */

.placeholder {
  position: relative;
  align-self: start;
  margin-top: 10px;
  margin-bottom: 50px;
}

.synthContainer span {
  position: relative;
  text-align: center;
  font-size: 0.6em;
  width: auto;
  float: left;
  align-items: center;
  min-width: 12.5%;
  max-height: 100px;
  min-height: 100px;
  border: 0px solid var(--btnbg);
}

.input-knob {
  user-select: none;
}

.publish {
  float: right;
  margin-top: 10px;
}

.number-input {
  overflow: hidden;
  position: relative;
  float: right;
  background-color: transparent;
  width: 145px;
  padding: 2px;
  height: 40px;
  right: 0px;
  margin-bottom: 10px;
  z-index: 15;
}

.number-input button {
  -webkit-appearance: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.quantity {
  width: 50px;
}

.minus {
  display: absolute;
  width: 40px;
  height: 35px;
  font-size: 0.7em;
  left: 0px;
}

.plus {
  display: absolute;
  margin: 0px;
  width: 40px;
  height: 35px;
  font-size: 0.7em;
  right: 0px;
}

.plus:active,
.minus:active {
  background-color: var(--minusActive) !important;
}

.number-input input[type=number] {
  max-width: 50px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--btnborder);
  height: 35px;
  font-size: 0.7em;
}

.slider {
  width: 60%;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .1s;
  transition: opacity .1s;
  top: 3px;
  height: 26px;
  position: relative;
}

/* Chrome */
@supports (-webkit-appearance:none) {
  .slider {
    -webkit-appearance: none;
    background: var(--sliderBg);
    outline: none;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 20px;
    background: var(--sliderBg2);
  }
}

/* FireFox */
@supports (-moz-appearance:none) {
  .slider {
    height: 25px;
    background: var(--sliderBg3);
    outline: none;
  }

  .slider::-moz-range-thumb {
    width: 15px;
    height: 20px;
    border-radius: 0px;
    border: none;
    background: var(--sliderBg2);
  }
}

.slider:hover {
  opacity: 0.6;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 24px;
  cursor: pointer;
}

/* Swing selector */

/* .dropdown {
  position: relative;
  display: inline-block;
  background-color: #cccccc;
  border: 1px solid #adadad;
  margin: 0px;
  width: 164px;
  height: 35px;
  text-align: left;
  top: 0px;
  margin-bottom: 10px;
} */
.dropdown {
  position: inherit;
  display: inline-block;
  margin: 0px;
  width: 164px;
  text-align: left;
  height: 38px;
  top: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--btnbg);
  min-width: 164px;
  box-shadow: 0px 8px 16px 0px var(--dropdownBg);
  z-index: 15;
  border: 1px solid var(--sliderColorBorder);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: -1px;
}

.dropdown-content span {
  border: 0px solid var(--btnborder);
  margin: 2px;
  padding: 5px;
  float: left;
  background: var(--dropdownBg2);
  cursor: pointer;
  width: 50px;
}

.dropdown-content span:hover {
  background-color: var(--sliderColorBorder);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#displaySwing {
  cursor: pointer;
}

/* Kit selector */
/* .dropdown-kit {
  position: relative;
  display: inline-block;
  background-color: #cccccc;
  border: 1px solid #adadad;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0px;
  height: 35px;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
} */

.dropdown-kit {
  position: relative;
  display: inline-block;
  text-align: left;
  top: 4px;
  padding-left: 5px;
  padding-right: 10px;
}

.dropdown-kit-content {
  display: none;
  position: absolute;
  background-color: var(--btnbg);
  min-width: 218px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 15;
  border: 1px solid var(--sliderColorBorder);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  top: 34px;
  left: -3px;
}

.dropdown-kit-content span {
  border: 0px solid var(--btnborder);
  margin: 2px;
  padding: 5px;
  float: left;
  background: var(--dropdownBg2);
  cursor: pointer;
  width: 300px;
}

.dropdown-kit-content span:hover {
  background-color: var(--sliderColorBorder);
}

.dropdown-kit:hover .dropdown-kit-content {
  display: block;
}

#displayKit {
  cursor: pointer;
  font-size: 1em;

}

/* --------------------------------------- */
/* Divtable ------------------------------ */
/* --------------------------------------- */


.divTable {
  display: table;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.divTableBody {
  display: table-row-group;
}

.divTableRow {
  display: flex;
  height: 50px;
}

.divTableCell {
  display: table-cell;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border: 1px solid var(--sliderColorBorder);
  border-top: 0px;
}

.divTableCellTop {
  display: table-cell;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-top: 0px;
}


#divTableHead {
  display: table-row;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--sliderColorBorder);
  border-right: 1px solid var(--sliderColorBorder);
  font-size: 0.50em;
  padding-left: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--sliderColorBorder);
  border-top: 1px solid var(--sliderColorBorder);
  background-color: var(--tableheadbg);
}


#tableHead {
  display: flex;
  height: 15px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: relative;
}

.tableSpaceHead {
  display: relative;
  padding-right: 2px;
  border: 1px solid var(--sliderColorBorder);
  border-top-left-radius: 20px 20px;
  background-color: var(--tableheadbg);
  min-width: 120px;
}

#headSpan {
  position: flex;
  display: table-cell;
  height: 10px;
  padding-right: 42px;
}

.tableSpace {
  padding-left: 7px;
  background-color: var(--tableSpace);
  width: 150px;
  padding-top: 9px;
  border: solid 1px var(--sliderColorBorder);
  border-top: 0px;
  min-width: 120px;
}

.activeStep {
  animation: none;
  animation-duration: 400ms;
  opacity: 1;
  background-color: var(--activeStep) !important;
}

@keyframes flash {
  0% {
    background-color: var(--flash);
    opacity: 1;
  }

  100% {
    background-color: var(--flash);
    opacity: 0.2;
  }
}

#inst {
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
}

.mixElementFilter {
  filter: var(--filter);
}

.forth {
  background-color: var(--forth);
}

.forthN {
  background-color: var(--bgdiv1) !important;
  font-weight: bolder;
}


.cellActive {
  background-color: var(--activeCell) !important;
  border: 1px solid var(--sliderColorBorder);
  border-top: 0px;
  display: flex;
}

.invertStep {
  background-color: var(--invertStep) !important;
}


/* --------------------------------------- */
/* User presets -------------------------- */
/* --------------------------------------- */

.user-presets {
  display: table;
  min-width: 100%;
  overflow-y: scroll;
  font-size: 0.9em;
  border-collapse: separate;
  border-spacing: 1px;
  overflow: hidden;

}

.user-presets-head {
  display: table-row;
  width: 100%;
  margin-bottom: 0.1em;
  background-color: #a8a8a8 !important;
}

.user-presets-content {
  display: table-row;
  background-color: #c1c1c1;
  cursor: pointer;
  overflow: none;
}

.user-presets-content-cell {
  display: table-cell;
  padding-left: 0.5em;
  padding-right: 0.1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.pCell1 {
  width: 10%;
  max-width: 10%;
  min-width: 63px;
  overflow: hidden;
}

.pCell2 {
  max-width: 30%;
  min-width: 150px;
  overflow: hidden;

}

.pCell3 {
  max-width: 60%;
  min-width: 60%;
  overflow: hidden;
}

.lightgray {
  background-color: var(--lightGray);
}

#pHead {
  background-color: var(--darkGray);
}

.user-presets-content:hover {
  background-color: var(--darkGray);
}

.user-presets-content:active {
  background-color: var(--activeCell) !important;
}


/* --------------------------------------- */
/* Publish ------------------------------- */
/* --------------------------------------- */


#cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
  width: 100%;
  height: 100%;
  display: none;
}

#publishScreen {
  height: 80%;
  min-height: 500px;
  width: 80%;
  left: 10%;
  top: 10%;
  position: relative;
  z-index: 25;
  display: none;
  background-color: #e3e3e3;
  border: 5px solid #cccccc;
  border-radius: 10px;
}

#publishScreen:target,
#publishScreen:target+#cover {
  display: block;
  opacity: 1;
}

.publishContent h1 {
  margin-top: -0.2em;
  margin-left: 0.1em;
  text-decoration: underline;
}

.publishContent {
  padding: 1em;
  min-width: 100%;
  min-height: 100%;
}

.publishContent input {
  padding: 5px;
  background-color: var(--btnbg);
  border: 1px solid var(--btnborder);
  margin: 0px;
  width: 100%;
  height: 1.5em;
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.publishContent textarea {
  padding: 5px;
  background-color: var(--btnbg);
  border: 1px solid var(--btnborder);
  margin: 0px;
  width: 270px;
  height: 50%;
  margin-bottom: 10px;
  font-size: 1em;
  width: 100%;
  font-weight: bold;
  resize: none;
  padding: 10px;
}

.publishContent button {
  padding: 5px;
  background-color: var(--activeCell);
  border: 1px solid var(--btnborder);
  margin: 0px;
  width: 20%;
  min-width: 100%;
  height: 2em;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.publishContent button:active {
  background-color: green;
}

.cancel {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ff5900;
  color: black;
  height: 40px;
  width: 50px;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  z-index: 98;
  border-radius: 10%;
}

/* button */
.button-38 {
  background-color: var(--buttonBackground);
  border: 1px solid var(--btnborder);
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--textColor);
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none var(---buttonTextDecoration) solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: var(--buttonHover);
  border: 1px solid var(--buttonHoverBorder);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* Theme button */

.theme {
  position: fixed;
  z-index: 100;
  left: 10px;
  top: 10px;
}

.button-slider {
  background-color: var(--buttonBackground);
  border: 1px solid var(--btnborder);
  border-radius: .5rem;
  color: var(--textColor);
  text-align: center;
  text-decoration: none var(---buttonTextDecoration) solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}